.banner {
    &-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 152px;
    }

    .carousel-indicators {
        margin-left: 0;
        margin-right: 0;
        position: static;
        justify-content: flex-start;
        margin-top: 71px;
        margin-bottom: 0;

        [data-bs-target] {
            width: 18.2px;
            height: 1px;
            opacity: 1;
        }

        .active {
            background-color: #51BA6B;
        }
    }
}

.bannerText {
    padding-top: 17px;

    h1 {
        color: #FFFFFF;
        max-width: 389px;
    }

    p {
        max-width: 389px;
        margin: 26px 0 34px;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #FFFFFF;

        opacity: 0.8;
    }

    &__percentage {
        h2 {
            font-weight: 200;
            font-size: 130px;
            line-height: 1;
            letter-spacing: -0.065em;
            color: #51BA6B;
            margin-bottom: 0;
            margin-top: 20px;

            span {
                font-weight: 400;
                font-size: 32px;
                display: inline-block;
                letter-spacing: 0;
            }
        }

        h6 {
            font-weight: 300;
            font-size: 36px;
            line-height: 120%;
            color: #FFFFFF;
        }
    }
}


.banner-watchbtn {
    text-align: center;
    position: relative;
    max-width: 450px;
    margin-left: 50px;
    a {
        border-radius: 24.2735px;
        transform: rotate(-45deg) translate(-50%, -50%);
        position: absolute;
        width: 136.74px;
        height: 137.55px;

        left: 54%;
        top: 38%;

    }
}

.hlVideo {
    padding: 141px 0 99px;

    &__content {
        max-width: 667px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        h2 {
            margin-bottom: 45px;
        }

        p {
            margin-top: 45px;
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
        }
    }
}

.halfDivider {
    opacity: 1;
    max-width: 796px;
    background-color: #CBCBCB;
    margin: 0 auto;
}

.hnewslesster {
    padding: 80px 0;
    &.podcastt{
        padding-top: 207px;
    }

    #mc_embed_signup form {
        margin-left: auto !important;
    }

    #mce-responses {
        max-width: 696px;
    }

    #mc_embed_signup div#mce-responses {
        margin-left: auto !important;
        float: none;
    }

    form {
        border: 1px solid #CBCBCB;
        border-radius: 20px;
        padding: 55px 26px 47px 32px;
        position: relative;
        max-width: 696px;
        margin-left: auto;
    }

    .form-control {
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
        background-color: transparent;
        border-radius: 0;
        color: #091113;
        border-width: 1px 0;
        border-color: #CBCBCB;
        padding: 0;
        height: 74px;

        &::placeholder {
            color: #091113;
        }
    }

    .theme-btn {
        padding: 12px 17px;
        position: absolute;
        right: 26px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 4px;
    }
}

.ceoMsg {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-top: 20px;

    h2 {
        margin-bottom: 13px;
    }

    p {
        margin-bottom: 0;
        max-width: 300px;
    }
}

.lvGas {
    background: #F9F7F4;
    margin: 0 40px;
    padding: 20px 0 60px;

    &__content {
        max-width: 450px;
        margin-left: 150px;

        h2 {
            margin-bottom: 0;
        }

        p {
            margin: 26px 0 79px;
        }
    }
}

.technology {
    padding: 90px 0;

    .lvGas__content {
        max-width: 297px;

        p {
            color: #091113;
        }
    }

    &__box {
        max-width: 336px;

        &img {
            width: 132px;
            height: 132px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h5 {
            margin: 38px 0 10px;
        }
    }

    .row {
        .row {
            &>div:nth-child(n + 3) {
                .technology__box {
                    margin-top: 72px;
                }
            }
        }
    }
}

.subtitle {
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    color: #091113;
    display: block;
    margin-bottom: 43px;
}

.enRevolution {
    background: #091113;
    padding: 90px 0;

    h2 {
        color: #FFFFFF;
        max-width: 370px;
        margin-bottom: 0;

    }

    p {
        max-width: 558px;
        margin-left: auto;
        color: #B5B5B5;
    }

    &__energies {
        margin-top: 79px;

        h5 {
            color: #FFFFFF;
            margin-bottom: 4px;
        }
    }

    &__btn {
        text-align: center;
        margin-top: 79px;
    }
}

.energyList {
    li {
        position: relative;
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
        color: #B5B5B5;
        padding-bottom: 15px;
        border-bottom: 1px solid #1B2E33;
        margin-top: 31px;
        padding-left: 30px;

        &:before {
            content: "";
            position: absolute;
            width: 11px;
            height: 11px;
            border: 2px solid #51BA6B;
            border-radius: 50%;
            left: 0;
            top: 6px;
        }
    }
}

.superRock {
    padding: 90px 0;
    text-align: center;

    h2 {
        max-width: 810px;
        margin: 0 auto 71px;
    }

    p {
        text-align: left;
        max-width: 1005px;
        margin-left: auto;
        margin-right: auto;

        &:first-of-type {
            margin-top: 60px;
        }

        &+p {
            margin-top: 20px;
        }
    }

    .theme-btn {
        margin-top: 79px;
    }
}

.dSection {
    padding: 90px 0;

    &__content {
        max-width: 410px;
        margin-left: 243px;
        padding-bottom: 92px;

        h2 {
            margin-bottom: 0;
        }

        p {
            margin: 26px 0 79px;
        }
    }

    &__box {
        background: #FFFFFF;
        border: 1px solid #CBCBCB;
        border-radius: 20px;
        padding: 115px 90px 124px;
        max-width: 493px;
        margin-left: auto;
        margin-top: -93px;
        margin-right: -93px;

        p {
            margin-top: 26px;
        }
    }

    &__img {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    &-opposite {
        .dSection__img {
            bottom: unset;
            top: 0;
        }

        .dSection__box {
            margin-top: 53px;
            margin-right: 0;
        }

        .dSection__content {
            margin-left: 0;
            margin-top: 53px;

        }
    }

    &.marketdSection {
        .dSection__box {
            padding: 57px 0 40px;
            text-align: center;
            margin-top: 0;

            h5 {
                max-width: 316px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 19px;
            }
        }

        .dSection__content {
            margin-left: 225px;
            padding-top: 42px;
            padding-bottom: 23px;

            h3 {
                max-width: 297px;
            }
        }


    }
}

.themebg-section {
    margin: 0 40px;
    background: #F9F7F4;
}

.usDepart {
    margin: 140px 40px 20px 40px;
    position: relative;
    height: 780px;
    background: url(../img/US-Department-of-Energy.jpg) no-repeat center / cover;

    @media (min-width: 1537px) {
        height: 833px;
    }

    &__img {
        position: absolute;
        z-index: -1;
        top: 42px;
    }

    &__content {
        background: #FFFFFF;
        padding: 42px 42px 110px;
        text-align: center;

        h2 {
            max-width: 874px;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            max-width: 654px;
            margin: 26px auto 79px;
        }
    }
}

.news {
    padding: 90px 0;

    h2 {
        margin-bottom: 75px;
    }

    .row {
        .col-lg-6 {
            &:last-of-type {
                .newsItem {
                    margin-left: auto;
                }
            }
        }
    }
}

.newsItem {
    max-width: 558px;
    margin-bottom: 73px;

    p {
        margin: 0 0 16px;
    }

    &__date {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-weight: 500;
            font-size: 13px;
            line-height: 140%;
            color: #091113;
        }

        a {
            font-weight: 700;
            font-size: 13px;
            line-height: 140%;
            text-transform: uppercase;
            border-bottom: 2px solid #51BA6B;
            padding-bottom: 5px;
            color: #091113;
        }
    }

}







// Market
.page-titleC {
    position: absolute;
    top: 41px;
    transform: translateX(-50%);
    left: 50%;
    padding: 4px 0;
}

.pageBanner {
    position: relative;
    text-align: center;
    margin-top: 191px;

    h1 {
        text-align: center;
        background-color: #51BA6B;
        color: #091113;
        max-width: 760px;
        line-height: 1.35;
        display: inline;
    }

    &__banner {
        max-width: 1136px;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;

    }

    h5 {
        margin-bottom: 72px;
    }
}

.marketC {
    padding: 44px 0 140px;

    &__content {
        padding: 112px 83px 75px 129px;
        margin-top: -305px;
        position: relative;
        background: #fff;
        margin-bottom: 37px;

        p {
            &+p {
                margin-top: 16px;
            }
        }
    }

    &__paragraph {
        margin-top: 50px;
        max-width: 1005px;
        margin-left: auto;
        margin-right: auto;

        p {
            &+p {
                margin-top: 16px;
            }
        }
    }
}

.markatCPic {
    padding-left: 129px;
}

.theme-heading {
    display: flex;
    justify-content: space-between;

    h2 {
        max-width: 347px;
    }

    p {
        max-width: 521px;
        margin-left: auto;
    }

}

.cleanenergy {
    margin: 0 40px;
    background: #F9F7F4;
    padding: 153px 0 143px;

    .theme-heading,
    .clean-globe {
        max-width: 1209px;
        margin-left: auto;
        margin-right: auto;
    }

    .clean-globe {
        margin: 141px auto 148px;
    }

    &__content {
        max-width: 1005px;
        margin-left: auto;
        margin-right: auto;

        p {
            &+p {
                margin-top: 16px;
            }
        }
    }
}

.clean-graph-chart {
    max-width: 1209px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.marketDrain {
    padding: 132px 0 56px;
    text-align: center;

    p {
        font-weight: 400;
        font-size: 25px;
        line-height: 120%;
        color: #091113;
        max-width: 699px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
    }
}

.techQuote {
    &__wrap {
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #CBCBCB;
        border-radius: 20px;
        padding: 70px 97px;
        text-align: center;

        h6 {
            font-weight: 400;
            font-size: 25px;
            line-height: 120%;
            margin-bottom: 28px;
        }
    }
}

.pSection {
    padding: 28px 0 58px;

    &__content {
        max-width: 444px;

        h2 {
            margin-bottom: 26px;
        }

        p {
            &+p {
                margin-top: 16px;
            }
        }
    }
}

.platforms {
    background: #091113;
    padding: 89px 0 169px;
    margin: 0 40px;

    .row {
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
    }

    &__heading {
        text-align: center;
        max-width: 535px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 87px;

        h3 {
            font-size: 37px;
            line-height: 120%;
            margin-bottom: 26px;
            color: #F9F7F4;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;
            color: #F9F7F4;

        }
    }
}

.platform {
    background: #51BA6B;
    height: 100%;
    max-width: 383px;
    margin-left: auto;
    margin-right: auto;

    &__content {
        padding: 32px 18px 47px;

        h6 {
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: #F9F7F4;
            margin-bottom: 10px;
        }

        p {
            color: #000000;
        }
    }

    &__faster {
        display: flex;
        margin-top: 28px;
        align-items: end;
        justify-content: space-between;

        &Text {
            max-width: 175px;

            h4 {
                font-weight: 300;
                font-size: 60px;
                line-height: 100%;
                color: #F0F8FA;
            }

            p {
                font-weight: 600;
                color: #FFFFFF;
            }
        }

        .theme-btn {
            margin-bottom: 16px;
        }
    }
}

.techList {
    position: relative;
    margin: -23px 40px 0;

    &__wrap {
        background: #091113;
        max-width: 879px;
        margin-left: auto;
        margin-right: auto;
        padding: 120px 129px 30px;

        p {
            font-size: 17px;
            color: #B5B5B5;

        }
    }

    &__box {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 210px;
    }
}

.techWords {
    background: #091113;
    padding: 296px 0 87px;
    margin: 0 40px;

    p {
        font-weight: 500;
        font-size: 17px;
        color: #B5B5B5;
        max-width: 494px;
    }

    &__img {
        text-align: right;
        margin-top: 48px;

        img {
            max-width: 462px;
        }
    }
}

.geothermalSys {
    padding: 100px 0;

    .pSection__content {
        margin-top: 90px;
    }
}

.geothermalStat {
    padding-bottom: 140px;
}

.geoStat {
    border: 1px solid #CBCBCB;
    border-radius: 20px;
    padding: 35px 31px 33px 47px;
    position: relative;

    &__title {
        h4 {
            font-size: 50px;
            margin-bottom: 0;
        }

        p {
            color: #091113;
            font-weight: 600;
        }
    }

    &__points {
        margin-top: 62px;
        display: flex;
        align-items: center;

        .geoStat__point {
            &+.geoStat__point {
                margin-top: 26px;
            }
        }
    }

    &__wells {
        padding-right: 36px;
        border-right: 1px solid #CBCBCB;
    }

    &__leases {
        padding-left: 36px;
    }

    &__point {
        max-width: 117px;

        h5 {
            font-weight: 400;
            font-size: 35px;
            margin-bottom: 0;
        }

        span {
            font-weight: 500;
        }
    }

    &__circleStat {
        position: absolute;
        top: 35px;
        right: 31px;
        max-width: 182px;
    }

    &__map {
        position: absolute;
        right: 31px;
        bottom: 31px;
        padding-top: 58px;
        max-width: 110px;
    }
}

.geothermal-source {
    margin-top: 26px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    color: #858585;

}



// Podcast
.podcastt {
    .ceoMsg__msg {
        max-width: 316px;

        h1 {
            color: #091113;
            margin-bottom: 26px;
        }
    }
}

.object-fit-cover {
    object-fit: cover;
}

.podcast {
    padding-bottom: 140px;

    &-item {
        max-width: 558px;
        margin-bottom: 60px;

        &-thumbnail {
            // background: url(../img/podcast-bg.png) no-repeat center / cover;
            width: 100%;
            position: relative;
            // height: 298px;
            // padding: 86px 60px 0;
            margin-bottom: 12px;

            a {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            // img{
            //     width: 100%;
            //     height: 100%;
            //     object-fit: cover;
            // }
        }

        h2 {

            color: #030303;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &.podcastsingle {
            .podcast-item-thumbnail {
                padding: 74px 20px 20px;
            }
        }
    }

    &-single {
        display: flex;
        gap: 59px;

        h5 {
            background: #FFFFFF;
            font-weight: 600;
            font-size: 13px;
            line-height: 140%;
            color: #091113;
            margin-bottom: 3px;
            display: inline-block;
            padding: 2px 4px;
        }

        p {
            font-size: 12px;
            color: #FFFFFF;

        }

        &-content {
            padding-top: 57px;
        }
    }

    &-peoples {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

    }

    &-people {
        max-width: 127px;
        text-align: center;

        &-face {
            width: 127px;
            height: 87px;
            margin-bottom: 22px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h5 {
            background: #FFFFFF;
            font-weight: 600;
            font-size: 13px;
            line-height: 140%;
            color: #091113;
            margin-bottom: 3px;
            display: inline-block;
            padding: 2px 4px;
        }

        p {
            font-size: 12px;
            color: #FFFFFF;

        }
    }

    &-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 32px;

        span {
            font-weight: 500;
            font-size: 13px;
            line-height: 140%;

            color: #091113;
        }

        a {
            border-bottom: 2px solid #51BA6B;
            padding-bottom: 5px;
            font-weight: 700;
            font-size: 13px;
            line-height: 140%;
            text-transform: uppercase;
            color: #091113;
        }
    }

    // .row {
    //     &>div {
    //         &:nth-child(even) {
    //             .podcast-item {
    //                 margin-left: auto;
    //             }
    //         }

    //         &:not(:first-child):not(:nth-child(2)) {
    //             .podcast-item {
    //                 margin-top: 90px;
    //             }
    //         }
    //     }
    // }

    &-detail {
        padding: 187px 0 140px;
        text-align: center;

        &-wrap {
            max-width: 1135px;
            margin-left: auto;
            margin-right: auto;

            .podcast-video {
                margin-top: 89px;
            }
        }

        h1 {
            color: #091113;
            max-width: 950px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
        }

        p {
            font-size: 13px;
            margin: 25px 0 89px;
            color: #091113;
        }

    }

    &-video {
        iframe {
            width: 100%;
            height: 600px;
        }
    }
}


// News
.newsPage {
    padding: 215px 0 140px;

    &-title {
        color: #091113;
        margin-bottom: 0;
    }

    &-category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #CBCBCB;
        padding-bottom: 22px;
        margin: 112px 0 92px;

        h2 {
            font-weight: 400;
            font-size: 25px;
            line-height: 120%;
            color: #091113;
            margin-bottom: 0;
        }

        a {
            font-weight: 700;
            font-size: 13px;
            color: #091113;
            text-transform: uppercase;

            i {
                margin-left: 12px;
                color: #51BA6B;
            }
        }
    }

    .row {
        &>div {
            &:nth-child(even) {
                .newsItem {
                    @media (min-width: 992px) {
                        margin-left: auto;
                    }
                }
            }

            &:last-of-type,
            &:nth-last-child(2) {
                .newsItem {
                    @media (min-width: 992px) {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .row {
            &>div {
                .newsItem {
                    &:last-of-type {
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }

    &-catPage {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 113px;

        nav {
            --bs-breadcrumb-divider: url("../img/right.svg");
        }

        .breadcrumb {
            margin-bottom: 0;

            &-item {
                font-weight: 700;
                font-size: 15px;
                line-height: 140%;
                color: #091113;

                &.active {
                    color: #858585;
                    font-weight: 500;
                }
            }

            .breadcrumb-item {
                &+.breadcrumb-item {
                    padding-left: 18px;

                    &::before {
                        padding-right: 18px;
                    }
                }
            }
        }
    }
}

.newsArchiveBtn {
    margin-top: 135px;
}

.news-detail {
    padding: 187px 0 60px;

    h1 {
        color: #091113;
        max-width: 1088px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 114px;
    }

    .newsItem p {
        span {
            font-weight: 600;
            color: #000000;
        }

        a {
            font-weight: 600;
            color: #000;
            text-decoration: underline;
        }
    }
}

.news-presscontact {
    margin-top: 40px;

    .theme-btn {
        display: inline-block;
    }

    span {
        font-weight: 400;
    }
}

.news-moreinfo {
    padding-bottom: 24px;
}

.news-about {
    margin-top: 60px;

    h4 {
        padding-bottom: 22px;
        border-bottom: 1px solid #CBCBCB;
        font-weight: 400;
        font-size: 25px;
        line-height: 120%;
        color: #091113;
        margin-bottom: 29px;
    }
}

.news-detail-info {
    .row {
        &>div {
            &:nth-child(even) {
                .newsItem {
                    margin-left: auto;
                }
            }
        }
    }

    .newsItem {
        max-width: 100%;
        margin-bottom: 0
    }
}



// Investor
.investor {
    background: #091113;
    padding-top: 277px;

    h1 {
        font-weight: 400;
        font-size: 35px;
        line-height: 120%;
        color: #F9F7F4;
        max-width: 746px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    p {
        margin: 26px 0 55px;
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
        color: #B5B5B5;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        max-width: 1005px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

// About us
.aboutBanner {
    background: #091113;
    margin-top: 0;
    padding-top: 277px;
    padding-bottom: 259px;

    .page-titleC {
        max-width: 964px;
        width: 100%;
        margin-top: 277px;
    }

    h5 {
        color: #F9F7F4;
    }
}

.aboutMarket {
    padding: 0;
    background: #091113;

    .marketC__content {
        padding: 100px;
        margin-top: -510px;
        background: #091113;
        margin-bottom: 0;
    }
}

.about {
    padding: 140px 0;

    h4 {
        font-weight: 400;
        font-size: 25px;
        line-height: 120%;
        text-align: center;
        color: #091113;
        margin-bottom: 40px;
    }

    &-wrap {
        max-width: 878px;
        margin-left: auto;
        margin-right: auto;

        .about-item {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &-item {
        padding-bottom: 37px;
        border-bottom: 1px solid #CBCBCB;
        display: flex;
        gap: 129px;
        margin-bottom: 84px;

        &-basic {
            width: 145px;
            flex: 0 0 auto;

        }

        &-face {
            width: 127px;
            height: 127px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h6 {
            margin: 27px 0 5px;
            font-weight: 700;
            font-size: 15px;
            line-height: 140%;
            color: #091113;
        }

        span {
            font-weight: 500;
            font-size: 13px;
            line-height: 115%;
            color: #858585;
        }

        &-detail {
            .dot-list {
                margin-top: 24px;
            }
        }
    }
}

.dot-list {
    li {
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        position: relative;
        color: #858585;
        padding-left: 12px;

        &::before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #858585;
            position: absolute;
            left: 0;
            top: 7px;
        }
    }
}



.dt-content {
    &-box {
        max-width: 686px;
        margin: -260px auto 0;
        background: #fff;
        position: relative;
        padding: 0 21px 38px;

        p {
            padding: 112px 83px 38px 129px;
        }
    }
}

.pp-drill-tech {
    padding: 22px 0 0;

    &-wrap {
        max-width: 667px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    &-thumbnail {
        margin: 71px 0;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #858585;
        max-width: 533px;
        margin-left: auto;
        margin-right: auto;
    }
}

.dt-comprsion {
    padding: 111px 0 152px;

    &-content {
        max-width: 535px;
        margin-top: 16px;
    }

    &-institute {
        margin-top: 74px;
        position: relative;
        margin-left: 38px;
    }

    &-logo {
        background: #FFFFFF;
        border-radius: 4px;
        padding: 4px 15px;
        position: absolute;
        bottom: 16px;
        left: -38px;
    }

    &-bars {
        .dt-comprsion-bar {
            &+.dt-comprsion-bar {
                margin-top: 28px;
            }
        }
    }

    &-bar {
        background: #51BA6B;
        padding: 30px 61px 33px 56px;
        display: flex;
        align-items: center;
        gap: 50px;
        max-width: 558px;
        margin-left: auto;

        h5 {
            font-weight: 300;
            font-size: 75px;
            line-height: 100%;
            color: #091113;
            margin: 0;
        }

        p {
            font-weight: 700;
            font-size: 18px;
            line-height: 120%;
            color: #091113;
        }
    }
}

.dt-dsection {
    padding: 0;

    .dSection__box {
        padding: 52px 86px;
        max-width: 370px;
        margin-top: -100px;
        margin-right: 0;

        h3 {
            margin-bottom: 0;
            font-weight: 300;
            font-size: 50px;
            line-height: 100%;
            color: #51BA6B;
        }
    }

    .dSection__content {
        p {
            margin: 0;

            &+p {
                margin-top: 24px;
            }
        }
    }
}


.dt-filter2 {
    padding: 60px 0 70px;

    &-wrap {
        max-width: 644px;
        margin-left: auto;
        margin-right: auto;
    }
}

.uce {
    background: url(../img/unlimited-clean-energy-bg.png) no-repeat center / cover;

    &-wrap {
        position: relative;
        padding: 233px 0 258px;
    }

    &-img {
        position: absolute;
        z-index: 0;
    }

    .uce-1 {
        left: 45px;
        top: 176px;
    }

    .uce-2 {
        right: 110px;
        top: 110px;
    }

    .uce-3 {
        bottom: 140px;
        right: 200px;
    }

    &-text {
        text-align: center;
        position: relative;
        z-index: 1;

        h3 {
            font-weight: 200;
            font-size: 169.735px;
            line-height: 100%;
            color: #51BA6B;

            span {
                display: block;
            }
        }

        p {
            font-weight: 400;
            font-size: 35px;
            line-height: 120%;
            color: #091113;
        }
    }
}

.contact {
    padding: 191px 0 95px;

    &-title {
        text-align: center;

        h1 {
            font-weight: 400;
            font-size: 35px;
            line-height: 120%;
            color: #091113;
            margin-bottom: 13px;
        }
    }

    &-form {
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 64px;
        border: 1px solid #CBCBCB;
        border-radius: 20px;
        padding: 11px 29px 42px;

        .form-control {
            border-radius: 0;
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
            color: #091113;
            padding: 48px 0 29px;
            border-width: 0 0 1px;
            border-color: #CBCBCB;

            &::placeholder {
                color: #091113;
            }
        }

        &-btn {
            margin-top: 27px;
            text-align: right;
        }
    }
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 75%;
}


.thankyou {
    padding: 180px 0;

    h1 {
        font-size: 48px;
        margin-bottom: 32px;
        color: #091113;
    }
}

.theme-dot-list {
    li {
        position: relative;
        padding-left: 14px;

        &:not(:first-of-type) {
            margin-top: 4px;
        }

        &::before {
            content: '';
            background: #000;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 7px;
        }
    }
}

.dp-carousel {
    &-content {
        margin: 60px 0;

        p {
            color: #858585;
            font-size: 21px;
            font-style: normal;
            font-weight: 500;
            line-height: 165.5%;

            /* 34.755px */
            &+p {
                margin-top: 32px;
            }
        }
    }

    &-item {
        .podcast-item {
            max-width: 100%;
            padding: 0 15px;
        }

        .podcast-item-thumbnail {
            height: auto;
            padding: 0;

            @media (max-width: 576px) {
                margin-bottom: 16px;
            }
        }

        .podcast-action {
            @media (max-width: 576px) {
                margin-top: 16px;
            }
        }
    }
}

.videocat {
    &-box {
        position: relative;
        margin-bottom: 32px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }

        span {
            background: rgba($color: #fff, $alpha: 0.800000011920929);
            color: #25765B;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 45px;
            line-height: 45px;
            text-align: center;
            font-weight: 500;
            width: 100%;
            min-height: 134px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.catlatest {
    padding-top: 90px;

    &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 52px;

        h2 {
            font-size: 45px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            color: #091113;
            margin-bottom: 0;
        }

        a {
            color: #091113;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            border-bottom: 2px solid #5CC165;
            text-transform: uppercase;
            padding-bottom: 5px;
        }
    }

    &-item {
        position: relative;



        h4 {
            color: #030303;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 12px;
        }
    }

    &-thumbnail {
        position: relative;

        a {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.videoTSingle {
    margin-bottom: 138px;

    h3 {
        text-align: center;
        color: #091113;
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 45px */
        margin-bottom: 71px;
    }

    &-wrap {
        max-width: 685px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        color: #000;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        span {
            font-weight: 700;
        }
    }
}

#short-videos {
    margin-bottom: 179px;
}

.short-item {
    margin-bottom: 35px;

    &-thumbnail {
        position: relative;
        height: 492px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        a {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    h4 {
        color: #091113;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 21.6px */
        margin-top: 31px;
    }
}

.ou-team {
    padding-bottom: 124px;

    &-heading {
        max-width: 533px;
        margin-inline: auto;
        text-align: center;
        margin-bottom: 80px;

        h3 {
            font-size: 25px;
            margin-bottom: 30px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;
            /* 23.4px */
        }
    }

    &-wrap {
        max-width: 1234px;
        margin-inline: auto;

        .ou-team-members {

            &+.ou-team-members {
                margin-top: 42px;
            }
        }
    }

    &-members {
        padding: 0 90px 42px;
        border-bottom: 1px solid #CBCBCB;

        .row {
            &>div {
                &:last-of-type {
                    .ou-team-member {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &-basic {
        width: 144px;

    }

    &-institue {
        width: 144px;
        text-align: center;
    }

    &-member {
        display: flex;
        gap: 8px;
        position: relative;

        &::after {
            content: '';
            border-right: 1px solid #CBCBCB;
            position: absolute;
            right: 8px;
            height: 208px;
        }

        &-img {
            width: 127px;
            height: 127px;
            margin-bottom: 27px;
        }

        h5 {
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            /* 21px */
            margin-bottom: 5px;
        }

        span {
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 115%;
            /* 14.95px */
            display: block;
        }

        p {
            color: #413B3B;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 115%;
            /* 14.95px */
            margin-bottom: 16px;
        }
    }
}

.ou-logo {
    margin-top: 86px;
    text-align: center;
}

.l-emedia {
    .podcast-item h2 {
        font-size: 17px;
        margin-bottom: 0;
    }

    .podcast-action {
        margin-top: 16px;
    }
}

.slideshow {
    height: 391px;

    .slide {
        width: 558px;
        margin-right: 30px;

        @media (max-width: 991px) {
            width: 384px;
        }

        @media (max-width: 576px) {
            width: calc(100% - 30px);
        }
    }

    .podcast-item {
        max-width: 100%;
        margin-bottom: 0;
    }

    .popup-youtube {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}


#mc_embed_signup {
    .mc-field-group {
        width: 100% !important;

        padding: 0 !important;
        min-height: auto !important;

        .form-control {
            padding: 0 !important;
            text-indent: unset !important;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            border-color: #cbcbcb;

            &:focus {
                border-color: #cbcbcb;
            }
        }

        .theme-btn {}
    }

    form {
        margin: 0 !important;
    }
}

#mc-embedded-subscribe {
    border: 0 !important;
    margin: 4px 0 0 !important;
    border-radius: 10px !important;
}

#mc_embed_signup div#mce-responses {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 0 0 32px !important;
}

#mc_embed_signup #mce-success-response {
    color: #37b970 !important;
}

#mc_embed_signup div.response {
    padding: 0 !important;
    text-align: left;
}

.mediaNevent {
    h4 {
        color: #030303;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 12px;
    }
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    display: none !important;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border-left: 0 !important;
    border-right: 0 !important;
}

.nEventLinks {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 18px;

    a {
        color: #030303;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        // text-decoration: underline;
    }
}

.pp-content {
    margin-top: 60px;

    h5 {
        font-weight: 400;
        font-size: 28px;
        line-height: 120%;
        color: #091113;
        margin-top: 24px;
        margin-bottom: 16px;
    }
    h6 {
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        color: #091113;
        margin-top: 24px;
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 12px;
    }
}